.navbar {
    position: sticky;
    z-index: 100;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    padding-top: 2%;
    padding-left: 5%;
    margin: 0px;
}
.navbar-item {
    padding: 20px;
    font-size: 18px;
}
.navbar-item a {
    color: #fafafa;
    text-decoration: none;
    font-family: Vidaloka;
}
.navbar-item a:hover {
    color: #b7fcfc;
}
.navbar-toggler {
    padding-top: 7%;
    padding-bottom: 4%;
}
.headshot {
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    padding-top: 3%;
    padding-left: 5%;
}

body {
    font-family: 'Roboto';
    padding-left: 10%;
    padding-right: 10%;
    background-color: #000;
    color: #b3d7e6;
    padding-bottom: 10%;
}

h1 {
    position: relative;
    font-size: 65px;
    padding-top: 5%;
    font-family: 'Vidaloka';
}

.bio p {
    position: relative;
    padding-top: 6%;
    font-size: 19px;
}

.social-media {
    padding-top: 13%;
    text-align: center;
}
.social-media a {
    font-size: 32px;
    display: flex;
    text-align: center;
    text-decoration: none;
    margin: 4%;
    width: 10%;
}
.fa-twitter {
    color: #00aced;
}
.fa-linkedin {
    color: #0077b5;
}
.fa-github {
    color: #fafafa;
}


h3 {
    font-size: 33px;
    padding-top: 17%;
    padding-bottom: 5%;
    font-family: Vidaloka;
}
.card {
    height: 340px;
    max-width: 100%;
    margin: 1rem;
    background-color: #202020;
}
.card-img-top {
    height: 100%;
    width: auto;
    object-fit: cover;
    background: linear-gradient(
                 rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0.5)
                 );
}
.card-body {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.7) 100%) repeat 0 0;
    z-index: 15;
}
.card-title {
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
}
.card-title a {
    text-decoration: none;
    text-align: center;
    color: #fafafa;
}
.card-title a:hover {
    color: #b7fcfc;
}
.card-descrip {
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    color: #fafafa;
    position: relative;
    top: 15%;
}
.card:hover {
    opacity: 0.7;
}

.card-logo {
    max-width: 110px;
    max-height: auto;
    text-align: center;
    margin-top: auto;
    color: #000;
}
#usatoday {
    max-width: 160px;
    max-height: auto;
}

.card-creds {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fafafa;
    text-align: left;
    writing-mode: vertical-rl;
    font-size: 10px;
}

.gif video {
    border: 10px solid #b3d7e6;
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
}
.gif p {
    text-align: left;
    display: block;
    margin: 0 auto;
    width: 70%;
    font-size: 20px;
}
.more {
    font-size: 20px;
}
a {
    color: #fafafa;
}
a:hover {
    color: rgb(87, 255, 255);
}

@media only screen and (max-width: 600px) {
    .navbar {
        padding-right: 0%;
    }
    body {
        padding-left: 5%;
        padding-right: 5%;
    }
    .gif video {
        height: auto;
        width: 100%;
        padding: 0%;
        border: 5px solid #b3d7e6;
    }
    .headshot {
        padding-left: 0%;
    }
    
}
